@import "breakpoints";
$palleteWidth: 35px;
$palleteWidthPhone:50px;
@font-face {
  font-family: "ssicons";
  src: url('/static/fonts/ss.eot');
  src: local('/static/fonts/ss');
  src: url('/static/fonts/ss.svg#ss') format('svg');
  src: url('/static/fonts/ss.woff') format('woff');
}
.sscolours__block{
	width:14%;
	@include breakpoint($phone) {
		width: 20%;
		margin-left:2.5%; 
	}
	margin:1%;
	display:inline-block;
	text-align:center;
	& .sscolours__blocktext {
		font-size:0.8em;
		font-weight:bold;
		color:#666;
		display:block;
	}
	& .sscolours__blockpallete{
		margin:auto;
		box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.2);
		width:$palleteWidth;
		height:$palleteWidth;
		@include breakpoint($phone) {
			width: $palleteWidthPhone;
			height:$palleteWidthPhone;
		}
		border-radius:5px;
	}
	& .sscolours__blockpallete--selected{
		color:#68BB0D !important;
		background-color:#fff;
		background-color: rgba(255, 255, 255, 0.9);
		// color:#fff;
		font-size:0.9em;
		padding:0.5em;
		border-radius:5px;
		line-height:$palleteWidth;
		font-family:ssicons;
		@include breakpoint($phone) {
			line-height:$palleteWidthPhone;
		}
	}
}
