body {
  background-color: rgb(255, 255, 255);
  font: 300 0.875em/1.38 'Open Sans';
  color: rgb(24, 24, 24);
}
.explore + .menubar__wrapper .explore,
.new + .menubar__wrapper .new,
.login + .menubar__wrapper .login {

}
.aboutsub {
  float: left;
  clear: both;
  width: 95.3077873918%;
  min-height: 24px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutusheading {
  float: left;
  width: 100%;
  min-height: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutuswrapper {
  float: left;
  width: 25.5833333333%;
  min-height: 180px;
  margin: 50px 0 0 10%;
}

.advertisesub,
.signupsub {
  float: left;
  clear: both;
  width: 100%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.blogsub {
  float: left;
  clear: both;
  width: 100%;
  min-height: 24px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.contactussub {
  float: left;
  clear: both;
  width: 95.3077873918%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.contactuswrapper {
  width: 70%;
  height: 700px;
  margin: 100px auto 0;
  background-color: rgba(222, 222, 222, 0.9);
}

.exploresub {
  float: left;
  clear: both;
  width: 100%;
  min-height: 21px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.facebookbutton {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  background-image: url('/static/images/facebook.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footernav {
  float: left;
  clear: both;
  width: 100%;
  min-height: 400px;
  background-color: rgb(40, 40, 40);
}

.header {
  display:flex;
  align-items:center;
  float: left;
  width: 100%;
  height: 85px;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

.input_enteremail {
  display: block;
  float: left;
  clear: both;
  width: 56%;
  height: 35px;
  margin: 4px 0 0 19.98698%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-style: italic;
  font-size: 1.143em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(103, 103, 103);
}

.input_entername,
.input_entersubject {
  display: block;
  float: left;
  clear: both;
  width: 56%;
  height: 35px;
  margin: 4px 0 0 19.99442%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-style: italic;
  font-size: 1.143em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(103, 103, 103);
}

.instagram {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('/static/images/Instagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.logo {
  float: left;
  // width: 230px;
 flex: 1 0 230px;
  vertical-align:middle;
  height: 15px;
  min-height: 15px;
  margin: auto 0 auto 10%;
  background-image: url('/static/images/stylestation_light.png');
  background-repeat: no-repeat;
  background-size: contain;
  // background-position: center center;
}

.pinterest {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('/static/images/pinterest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.quicklinksheading {
  float: left;
  width: 99.99491353%;
  min-height: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.quicklinkswrapper {
  float: left;
  width: 25.5989583333%;
  min-height: 180px;
  margin: 50px 0 0 1.61589%;
}

.rightreserved {
  float: left;
  clear: both;
  width: 100%;
  height: 46px;
}

.section1 {
  float: left;
  clear: both;
  width: 100%;
  height: 900px;
  background-image: url('/static/images/ankara_background_dark2.jpg');
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.section2 {
  float: left;
  clear: both;
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.socialheadding {
  float: left;
  width: 100%;
  min-height: 35px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.socialmediawrapper {
  float: right;
  width: 25.5989583333%;
  min-height: 340px;
  margin: 50px 10.00391% 0 0;
}

.termsofservicesub {
  float: left;
  clear: both;
  width: 93.6662546353%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
}

.text_contactemailaddress {
  float: left;
  width: 100%;
  min-height: 37px;
  margin-top: 35px;
  font-size: 1.143em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_copyright {
  float: left;
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_message {
  float: left;
  clear: both;
  margin: 25px 0 0 20.0093%;
  font-size: 1.143em;
  line-height: 1.38;
  color: rgb(24, 24, 24);
}

.text_name {
  float: left;
  margin: 60px 0 0 19.99442%;
  font-size: 1.143em;
  color: rgb(24, 24, 24);
}

.text_email,
.text_subject {
  float: left;
  clear: both;
  margin: 25px 0 0 19.99442%;
  font-size: 1.143em;
  line-height: 1.38;
  color: rgb(24, 24, 24);
}

.textarea_message {
  display: block;
  float: left;
  clear: both;
  width: 66.7916152897%;
  height: 212px;
  margin: 4px 0 0 19.99442%;
  padding: 5px;
  background-color: rgb(242, 242, 242);
  font: 400 1.143em/1.38 'Open Sans Condensed';
  color: rgb(0, 0, 0);
  resize: none;
}

.twitter {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('/static/images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wrapper {
  float: left;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.youtube {
  float: left;
  clear: both;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-image: url('/static/images/Youtube.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 25.8658854166%;
  height: 39px;
  margin: 32px 0 0 37.0628699999%;
  border-radius: 3px;
  background-color: rgb(183, 41, 59);
  font-size: 1.286em;
  line-height: 1.38;
  text-align: center;
  color: rgb(238, 230, 231);
}

@media(max-width: 1024px) {
  .contactuswrapper .input_enteremail {
    margin-left: 19.9891%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.00654%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.99564%;
  }

  .footernav .aboutuswrapper {
    margin-left: 9.99756%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61438%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00214%;
  }

  .header .logo {
    margin-left: 3.91541%;
  }

  .socialmediawrapper .socialheadding {
    margin-top: 3px;
  }

  .contactuswrapper ._button {
    width: 25.8665852852%;
    margin-left: 37.05722%;
  }
}

@media(max-width: 950px) {
  body {
    font-size: 0.875em;
  }

  .contactuswrapper .input_enteremail {
    margin-left: 19.98825%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.00235%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.9953%;
  }

  .footernav .aboutuswrapper {
    margin-left: 10%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61349%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00329%;
  }

  .header .logo {
    margin-left: 3.91612%;
  }

  .contactuswrapper ._button {
    width: 25.8662280701%;
    margin-left: 37.05592%;
  }
}

@media(max-width: 750px) {
  .contactuswrapper .input_enteremail {
    margin-left: 19.98438%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.01042%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.9947899999%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6125%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10%;
  }

  .header .logo {
    margin-left: 3.91667%;
  }

  .section1 .contactuswrapper {
    width: 80%;
  }

  .contactuswrapper ._button {
    width: 25.8645833333%;
    margin-left: 37.0625%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.875em;
  }

  .contactuswrapper .input_entername {
    width: 73.7777777777%;
    margin-left: 13.10526%;
    font-size: 1.071em;
  }

  .contactuswrapper .input_enteremail,
  .contactuswrapper .input_entersubject {
    width: 73.78%;
    margin-left: 13.10526%;
    font-size: 1.071em;
  }

  .contactuswrapper .text_email,
  .contactuswrapper .text_message,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject {
    margin-left: 13.10526%;
    font-size: 1.071em;
  }

  .contactuswrapper .textarea_message {
    width: 73.78%;
    margin-left: 13.10526%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6156299999%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00313%;
  }

  .header .logo {
    margin-left: 3.91563%;
  }

  .section1 .contactuswrapper {
    width: 95%;
    height: 669px;
    margin-top: 70px;
  }

  .section2 .text_contactemailaddress {
    font-size: 1.071em;
  }

  .wrapper .section1 {
    height: 800px;
  }
}

@media(max-width: 375px) {
  .contactuswrapper .input_entername {
    width: 75.5555555555%;
    height: 30px;
    min-height: 30px;
    margin-left: 13.05702%;
  }

  .contactuswrapper .input_enteremail,
  .contactuswrapper .input_entersubject {
    width: 75.56%;
    height: 30px;
    min-height: 30px;
    margin-left: 13.05702%;
  }

  .contactuswrapper .text_message {
    margin-left: 13.0614%;
  }

  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject {
    margin-left: 13.05702%;
  }

  .contactuswrapper .textarea_message {
    width: 75.56%;
    margin-left: 13.05702%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6125%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10%;
  }

  .header .logo {
    width: 170px;
    min-width: 170px;
    margin-left: 4%;
  }

  .section1 .contactuswrapper {
    height: 650px;
  }

  .socialmediawrapper .socialheadding {
    margin-top: 0;
  }

  .wrapper {
    min-width: 300px;
  }

  .contactuswrapper ._button {
    width: 75.5555555555%;
    margin-left: 13.07895%;
  }
}