$twitterBlue: #4099FF;
$facebookBlue:#3b5999;
$pinterestRed:#C92228;
$base-font-color: #666;
$successColour: #67C400;
@import "jeet/index";
@import "breakpoints";
.ssdetail__wrapper{
	color:$base-font-color;
	background: #FEFEFE;
	border: 1px solid #f9f9f9;
	overflow:auto;
	width:80%;
	margin: 1em auto;
	padding:1em;
	box-sizing:border-box;
	& .entry_wrapper {
		overflow:hidden;
	}
	& .related_entries {
		margin-top:2em;
	}
	.ssdetail__image {
		text-align:center;
	}
	& .ssdetail__image > .image{
		width:100%;
		max-width:700px;
		@include breakpoint($phone) {
			// margin: 1em auto;
		}
	}
	@include breakpoint($phone) {
		width:100%;
	}
}

.ssdetail__entry {
	// @include unstack();
	@include col(2/3);
}
.ssdetail__info {
	/*padding:2em;*/
	@include col(1/3);
}
.ssdetail__entry , .ssdetail__info{
	// @include unstack();
	@include breakpoint($phone) {
		@include col(1/1)
		// @include stack();
	}
	// float:left;
	/*width:20%;*/
	// @
}
.ssdetail__info .owner {
/*font-family: OpenSans-Semibold;*/
font-size: 21px;
color: #4A90E2;
line-height: 45px;
margin-top:0;
}
.ssdetail__info .description {
font-family: OpenSans;
font-size: 14px;
color: #878787;
line-height: 19px;
margin-bottom:0;
}
.ssdetail__info .tags_header {
	// font-family: OpenSans;
	font-size: 24px;
	color: #9B9B9B;
	line-height: 33px;
}

.ssdetail__info .tag, {
// background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #E2E1E1 100%);
// background-image: -moz-linear-gradient(-90deg, #FFFFFF 0%, #E2E1E1 100%);
// background-image: -webkit-linear-gradient(-90deg, #FFFFFF 0%, #E2E1E1 100%);
// background-image: -ms-linear-gradient(-90deg, #FFFFFF 0%, #E2E1E1 100%);
// background-image: linear-gradient(-180deg, #FFFFFF 0%, #E2E1E1 100%);
border: 1px solid #E0E0E0;
border-radius: 4px;
padding-right:0.3em;
display: inline-block;
margin: 0.5em;
text-decoration:none;

}
.ssdetail__info .tag_icon, .ssdetail__info .colour {
	color: #6C6C6C;
	padding:0.2em;
}
.ssdetail__info .tag_icon, .share_link {
	font-family:ssicons;
	cursor:pointer;
}
.tag_icon, .tag_text {
	font-size: 1em;
	vertical-align:middle;
}
.ssdetail__info .colour {
	display:inline-block;
	height:2em;
	width:2em;
	cursor:pointer;
	margin:0;
	padding:0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	&:first-of-type {
		border-radius: 5px 0 0 5px;
	}
	&:last-child {
		border-radius: 0 5px 5px 0;
	}
}
.ssdetail__wrapper .entry_wraper {
	overflow:auto;
}
.ssdetail__info .tag_wrapper {
	margin-top:1em;	
}
.colour_wrapper {
	position:relative;
	text-align:center;
	background-color:#fff;
	padding:0;
	padding-bottom: 1em;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.1);
	margin: 1.85em auto;
	&:hover {
		z-index: 3
	}
}
.ssdetail__info .tag_text {
	vertical-align:middle;
	color: #959595;
	line-height: 2em;
}
$shareFontHeight: 1.5em;
.sssharebar__wrapper {
	text-align:center;
}
.share_link{
	font-size:$shareFontHeight;
	color:#888;
	display: inline-block;
	padding:0.25em 0.5em;
	text-decoration:none;
	line-height:$shareFontHeight;
	transition: color 0.2s ease-out;
}
.share_text {
	font-size: 0.8em;
	margin: 5px;
	vertical-align:middle;
	color:#888;
}
.twitter_share:hover {
	color:$twitterBlue;
}
.facebook_share:hover {
	color:$facebookBlue;
}
.pinterest_share:hover {
	color:$pinterestRed;
}

.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $base-accent-color: #477dca !default;
  $stats-color: lighten($base-accent-color, 10%);

  ul {
    padding: 0;
    overflow:auto;
  }

  li {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    color: $base-font-color;
    font-size: 1.2em;
    text-align:right;
    /*font-weight: 800;*/
    line-height: 1.1em;
    padding: 0.2em;

    &:first-child {
      /*padding-left: 0;*/
    }

    &:last-child {
      border-bottom: 0;
    }
  }
.stats__stat {
	font-size: 1.2em;
}
.stats__label {
	font-size: 0.8em;
	display:inline-block;
	padding-left: 0.6em;
}
  span {
    // color: $base-font-color;
    // display: inline-block;
    // font-size: 0.7em;
    // font-weight: normal;
    // margin-left: 0.2em;
  }
}
.favourite {
	text-align:center;
	display:block;
	max-width: 300px;
	@include center(70%);
	border: 1px solid #dadada;
	padding: 0.3em 0;
	border-radius: 3px;
	cursor:pointer;
	transition: color 0.1s ease-out, background-color 0.1s ease-out;
	&.favourite--added {
		color: #fff;
		background: #84df84;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		border: none;
	}
	// .favourite
}
.description {
	 border-bottom: 1px solid transparentize($base-font-color, 0.8);
	 padding-bottom:1em;
}

.ssentry__image__wrapper, .ssentry__details__wrapper {
	min-height: 300px;
	@include unstack();
	@include col(1/2);
	@include breakpoint($phone) {
		@include stack();
	}
}
.ssentry__details__wrapper {
}

.ssentry__image__wrapper {
	// @include col(1/2);
	// min-width:400px;
	position:relative;
	// min-height:500px;
	background-color:#fefefe;
	// border:solid 1px #f5f5f5;
	&:hover .ssimage__noimagetext {
  	// background-color:#6fCc09;
  	opacity:0.85;
  }
}
.ssentry__descriptioninput {
	border:none;
	outline:none;
	display:block;
	// font-weight:bold;
	width:100%;
	font-size:2em;
	color:#666;
	// margin:1em auto;
	text-align:center;
}
.ssnewentry__wrapper{
	// @include edit();
	// width: 90%;
	@include center(90%);
	// max-width:600px;
	margin:1em auto;
	// min-width:450px;

}
.sstags__stylepicker{
	text-align:center;
	color:#6f6f6f;
	background-color:#fcfcfc;
	padding:0.3em;
	font-weight:normal;
	font-size:1.1em;
}

.sstags__stylepickerwrapper{
	background-color:#fefefe;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);
	margin:1em 0 2em;
}
.ssnewentry__submit{
	border:none;
	// border-radius: 7px;
	// background-image: -o-linear-gradient(-90deg, #8AE160 0%, #52AE26 100%);
	// background-image: -moz-linear-gradient(-90deg, #8AE160 0%, #52AE26 100%);
	// background-image: -webkit-linear-gradient(-90deg, #8AE160 0%, #52AE26 100%);
	// background-image: -ms-linear-gradient(-90deg, #8AE160 0%, #52AE26 100%);
	// background-image: linear-gradient(-180deg, #8AE160 0%, #52AE26 100%);
	// -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.6);
	// -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.6);
	// box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.6);
	display:block;
	width:30%;
	margin:1em auto;
	// font-family: Lato;
	font-weight:300;
	font-size: 1em;
	color: #FFFFFF;
	text-transform:uppercase;
	padding:0.75em;
	background-color:$successColour;
	// text-shadow: 0px 1px 0px rgba(255,255,255,0.16);
		&:hover {
			background-color: darken($successColour, 5%);
		// background-image: -o-linear-gradient(-90deg, #58B32C 0%, #52AE26 100%);
		// background-image: -moz-linear-gradient(-90deg, #58B32C 0%, #52AE26 100%);
		// background-image: -webkit-linear-gradient(-90deg, #58B32C 0%, #52AE26 100%);
		// background-image: -ms-linear-gradient(-90deg, #58B32C 0%, #52AE26 100%);
		// background-image: linear-gradient(-180deg, #58B32C 0%, #52AE26 100%);
		// -moz-box-shadow:    inset 0px 2px 2px 0px rgba(42,114,5,0.82);
		// -webkit-box-shadow: inset 0px 2px 2px 0px rgba(42,114,5,0.82);
		// box-shadow:         inset 0px 1px 2px 0px rgba(42,114,5,0.82);
	}
}
.nav {
	@include center(30%);
	@include breakpoint($phone) {
		@include center(60%);
	}
	$paginationIconFontSize: 1.75em;
	$navIconColor: #dfdfdf;
	margin-top: 2em;
	.next_page, .prev_page {
		// margin:
		display:block;
		width:50%;
		// float:left;
		background-color: darken($navIconColor, 5%);
		border-radius:50%;
		color: lighten($navIconColor, 10%);
		border:solid 1px$navIconColor;
		width:2*$paginationIconFontSize;
		height:2*$paginationIconFontSize;
		font-size: $paginationIconFontSize;
		text-align:center;
		line-height:2*$paginationIconFontSize;
	}
	.next_page, .prev_page {
		cursor:pointer;
	}
	.next_page {
		float:right;
		// width:1em;
	}
	.prev_page {
		float:left;
	// @include span(1/5);
	// text-align:right;
	}	
}
.delete__text {
	text-align: center;
    display: block;
    margin: auto;
    width: 150px;
    border: 1px solid #999;
    padding: 4px;
    cursor:pointer;
    transition: background-color 0.3s ease-out;
    &:hover {
    	background-color:lighten($pinterestRed, 15%);
    	border:1px solid transparent;
    	color:#fff;
    }
}
.no_images_container {
	width: 80%;
	margin: auto;
	text-align: center;
	min-height: 300px;
	height:300px;
	.no_images_text{
		vertical-align: middle;
		display:inline-block;
		padding:2em;
		background-color:#fff;
		color: #657657;
		border-radius: 5px;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	}
	&:before {
		vertical-align: middle;
		content: "";
		height:100%;
		display:inline-block;
	}
}