.ssgrid__block{
	margin:4px;
	// padding:0.1em;
	border:1px solid #eee;
	color:#665;
}
.ssgrid__innerblock {
	// display:block;
	display:inline-block;
	text-decoration:none;
	// padding:1em;
}

.ssgrid__details_holder{
	margin:0
}