body {
	font: 1em/normal Lato,sans-serif;
	margin:0;
	overflow-y:scroll;
}
.overlay {
	position:fixed;
	background:rgba(0, 0, 0, 0.85);
	&--open {
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:100%;
		height:100%;

		display:flexbox;
		display:flex;
	}
	&--closed {
	// transform: scale(0);
	}
}

@import "breakpoints";
.mobile__hamburger__wrapper {
	display:none;
	@include breakpoint($phone) {
		cursor:pointer;
		display:block;
		width: 30px;
		float:right;
		padding: 0 0.3em;
		border-radius: 2px;
		box-sizing:border-box;
		// border: 1px solid #aaa;
	}
	.mobile__hamburger {
		transform-origin:50% 50%;
		height:3px;
		margin:4px 0;
		border-radius:2px;
		border:none;
		background-color:#999;
		transition:transform 0.2s ease-out, opacity 0.1s linear;	
	}
}
.mobile__hamburger__toggle {
	height:0;
	width:0;
	margin:0;
	padding:0;
	visibility:hidden;
}
.profile__actions__wrapper {
	position:relative;
	top:-5px;
	width:3em;
	max-height:0;
	overflow:hidden;
}
#avatar {
	margin-top: 5px;
}
.avatar__wrapper {
	position:relative;
	overflow:visible;
}
.avatar__wrapper:hover {
	.profile__actions__wrapper {
		display:block;
		max-height:100px;
		overflow:hidden;
	}
}
@include breakpoint($phone) {
	.header {
		.logo {
			margin-left:0;
			flex: 1 0 150px !important;
			-webkit-flex: 1 0 150px !important;
		}
		.nav_menu {
			flex: 3 0 0px !important;
			-webkit-flex: 3 0 0px !important;
		}
	}
	.menubar__wrapper {
		display:block;
		z-index:2;
		position:absolute;
		top:100%;
		right:0;
		overflow:hidden;
		max-height:0;
	}
	.nav_item {
		// font-size: 1em;
	}

	.mobile__hamburger__toggle:checked + .nav_menu{
		.mobile__hamburger--bottom {
			opacity:0;
		}
		.mobile__hamburger--middle {
			transform:rotateZ(-45deg);
		}
		.mobile__hamburger--top {
			transform:translate(0, 7px) rotateZ(45deg);
		}
		.menubar__wrapper:before {
			content:'';
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-bottom: 10px solid #fbfbfb;
			display:block;
			position:absolute;
			right: 6px;
			bottom:100%;
			// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		}
		.menubar__wrapper {
			font-size:1.2em;
			overflow:visible;
			margin-top:10px;
			width: 10em;
			max-height: 400px;
			background-color:#fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			padding: 0 0.3em;
			border-radius: 2px;
		.nav_item {
			color:#565656;
			display:block;
			width:100%;
			text-align:right;
			padding: 0.25em 0;
			// border-bottom: 1px solid #ddd;
		}
		}
	}
}
#content {
	// width: 95%;
	// min-height: 600px;
	margin: auto;
}
.header {
	box-sizing:border-box;
	display: -webkit-flex;
	display:flex;
	width: 100%;
	margin: 0 auto;
	height: 50px;
	background-color:rgb(40, 40, 40);
	border-bottom: 1px solid #000;
	padding: 0 10px;
	.logo {
		// margin:auto;
		// flex: 1 0 40px;
		width:15%;
		margin-left: 5%;
		background: transparent url(/static/images/stylestation_dark.png) center center no-repeat;
		background-size: contain;
	}
	.nav_menu {
		font-size:0.9em;
		position:relative;
		text-transform: uppercase;
		// flex: 3 0 250px;
		width: 60%;
		// float:right;
		margin:auto 10px auto 17.5%;
		.menubar__wrapper {
			box-sizing:border-box;
			margin: auto 0;
			width: 100%;
			margin:auto auto;
			text-align:right;
			.nav_item {
				display:inline-block;
				width:12.5%;
				text-align:center;
				a {
					text-decoration: none;
					color: #fefefe;
					@include breakpoint($phone) {
						color: #666;
					}
				}
			}
			.nav_item--join {
				padding: 5px 0;
				border:1px solid #fff;
				border-radius:5px;
				transition: background-color 0.2s ease-out;
				a.nav_item--bg {
					width:100%;
					display:inline-block;
				}
				&:hover {
						background-color:#fff;
						a {
							color: #000;
							width:100%;
							display:inline-block
						}
					}
				@include breakpoint($phone) {
					border:none;
					&:hover {
						background-color:#fff;
						color: #000;
					}
				}
			}
		}
	}
	.footer__social__buttons {}
}