@import "jeet/index";
@import "./bower_components/breakpoint-sass/stylesheets/_breakpoint";
.ssimage__noimagetext{
	transition: all 0.5s ease-in;
}
.ssimage__wrapper {
	width:100%;
	// min-width:400px;
	position:relative;
	min-height:500px;
	background-color:#fefefe;
	// border:solid 1px #f5f5f5;
	&:hover .ssimage__noimagetext {
  	// background-color:#6fCc09;
  	opacity:0.85;
  }
}
.ssimage__imageinput {
	z-index:3;
	position:absolute;
	top:0;
	left:0;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	opacity:0;
}
.ssimage__input{

}
.ssimage__changephoto {
	text-decoration:underline;
	cursor:pointer;
	text-align:center;
	color:#999;
}
.ssimage__noimagetext {
  width:30%;
 @include align();
  font-size:1em;
  line-height:1em;
  text-align:center;
  height:auto;
  padding:1.2em;
  color:#fff;
  opacity:1;
  border-radius:24px;
  /* font-weight:bold; */
  background-color:#67C400;

}
.ssimage__loadingimage{
	height:500px;
	width:100%;
	background:transparent url(/static/images/loading.gif) center center no-repeat;
}