$twitterBlue: #4099FF;
$facebookBlue:#3b5999;
$googleRed:#DD4B39;
$fontSize: 2.5em;
.sslogin__wrapper{
	.close {
		font-size: 2em;
		font-weight:bold;
		text-align:right;
		cursor:pointer;
		margin:0
	}
	.not_ready {
		margin: 1.5em 0 0.5em 0;
		cursor:pointer;
		text-decoration:underline;
		text-align:center;
		font-size: 0.8em;
	}
	width:80%;
	max-width:500px;
	background-color: #fff;
	border-radius: 7px;
	padding: 0.5em 1em 2em;
	margin:auto;
	& .sslogin__intro_text {
		text-align:center;
		color:#888;
		margin: 0 auto 2em;
	}
	& .srlogin__button {
		max-width:350px;
		// width:50%;
		margin:0.75em auto;
		text-decoration:none;
		outline:none;
		text-align:center;
		// border-radius:5px;
		display:flex;
		font-size:0.9em;
		color:#fff;
		text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
		& .srlogin__provider__icon {
			display:inline-block;
			// padding:0.3em;
			width:10%;	
			font-family:ssicons;
			font-size:$fontSize/2;
			font-weight: bold;
			margin:auto 0.5em;
		}
		& .srlogin__provider__text {
			margin:auto;
		}
	}
	.srlogin__provider__icon {
		line-height:$fontSize;
	}
	.srlogin__button__facebook {
		background-color:$facebookBlue;
		&:hover{
			background-color: darken($facebookBlue, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.srlogin__button__twitter {
		background-color:$twitterBlue;
		&:hover{
			background-color: darken($twitterBlue, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.srlogin__button__google {
		background-color:$googleRed;
		&:hover{
			background-color: darken($googleRed, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}


}