@font-face {
  font-family: "ssicons";
  src: url('/static/fonts/ss.eot');
  src: local('/static/fonts/ss');
  src: url('/static/fonts/ss.svg#ss') format('svg');
  src: url('/static/fonts/ss.woff') format('woff');
}
@font-face {
  font-family: "Lato";
  src: url('/static/fonts/Lato-Light.eot');
  src: local('/static/fonts/Lato-Light');
  src: url('/static/fonts/Lato-Light.svg#Lato-Light') format('svg');
  src: url('/static/fonts/Lato-Light.woff') format('woff');
}
@import "jeet/index";
@import "breakpoints";
body{
color: #222 !important;
}