@import "breakpoints";
.mobile__hamburger__wrapper {
	display:none;
	@include breakpoint($phone) {
		display:block;
		width: 40px;
		float:right;
		padding: 0 0.3em;
		border-radius: 2px;
		box-sizing:border-box;
		// border: 1px solid #aaa;
	}
	.mobile__hamburger {
		height:3px;
		margin:5px 0;
		border-radius:2px;
		border:none;
		background-color:#999;
		transition:transform 0.2s ease-out;	
	}
}

.nav_menu {
	// font-size:1.2em;
	// display:inline-block;
	flex: 0.5 0 120px;
	vertical-align:middle;
	float:right;
	margin: auto 10% auto 0;
	// min-width: 250px;
	// width: 30%;
	.menubar__wrapper {
		width: 100%;
		font-size:1em;
		margin-top: 0.65em;
		&.menubar__wrapper--test {
			.nav_rule {
				left: 20%;
			}
		}
		&.menubar__wrapper--about {
			margin-top: 0.5em;
			.nav_rule {
				left: 0%;
			}
		}
		.nav_item {
			font-weight:bold;
			cursor:pointer;
			text-align:center;
			display:inline-block;
			width: 20%;
			padding: 0.2em 0;
			a {
				color:inherit;
			}
			.nav_item--bg {
				color:#fff;
				border-radius: 5px;
				padding: 0.2em 0.5em;	
			}
			.create_button {
				// padding: 
				background-color: #569923;
			}
		}
		.nav_item--join {
			background-color: #444;
			color: #fff;
			& a {
				color: #fff
			}
			// padding: 0 
		}
		.nav_item--full {
			display:block;
			width:100%;
			.nav_rule {
				transition:left 0.3s ease-out;
				width: 20%;
				position:relative;
				left:0;
				margin:0;
				height: 3px;
				background-color: #836732;
				border:none;
			}
		}
	}	
}