@import "breakpoints";
$twitterBlue: #4099FF;
$facebookBlue:#3b5999;
$error:#C92228;
.message {
	position: fixed;
	font-size:0.9em;
	padding: 5px 0; 
	width: 30%;
	top: 10%;
	left: 35%;
	border: 1px solid #dfdfdf;
	z-index: 9;
	margin: auto;
	text-align: center;
	background-color: #fff;
	box-sizing:border-box;
	font-weight:bold;
	transition: max-height 0.1s ease-in-out;
	@include breakpoint($phone) {
		width: 70%;
		left: 15%;
	}
	&.message--visible {
		max-height: 60px;
		opacity:1;
	}
	&.message--hidden {
		max-height: 0;
		// padding:0;
		opacity:0
	}
	&.message--error {
		color:#555;
		font-weight:bold;
		// color: lighten($error, 15%);
		background-color: lighten($error, 50%);
		border-color:lighten($error, 45%);
	}
}