$linkColor:#99a;
.nav__wrapper {
width:100%;
margin-bottom:1em;
}

.nav__item {
	display:inline-block;
	box-sizing:border-box;
	width:49.5%;
}
.nav__item--link:before {
	display:inline-block;
	height:100%;
	vertical-align:middle;
	content:'';
}
.nav__item--link {
	$linkHeight:2em;
	display:inline-block;
	color:$linkColor;
	text-decoration:none;
	font-size:$linkHeight;
	width:$linkHeight;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	height:$linkHeight;
	border:2px solid $linkColor;
	border-radius:50%;
	transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.nav__item--link:hover {
	color: darken($linkColor, 10%);
	border-color: darken($linkColor, 10%);
}
.nav__item--prev {
	text-align:right;
	padding-right: 1em;
}
.nav__item--next {
	text-align:left;
	padding-left:1em;
}
.nav__item--prev.nav__item:first-of-type:last-of-type, .nav__item--next:first-of-type:last-of-type {
	width:100%;
	padding:0;
	text-align:center;
}