@import "jeet/index";
@import "breakpoints";
$uploadColour: #68AAF8;
$switchColor: #b6b6b6;
$collectionsColour: #fd453f;
$defaultBackgroundImage: url(/static/images/hero.jpg);
#content {
	margin-top: 4em;
}
.profile_header__wrapper {
.profile_header {
	padding-top:60px;
	min-height: 350px;
	background: transparent $defaultBackgroundImage 0% 60% no-repeat;
	background-size: cover;
	@include breakpoint($phone) {
		// height: auto
	}
	.profile_image {
		@include shift(1/5);
		// margin:auto;
		display:inline-block;
		height:150px;
		box-sizing:border-box;
		// @include span(2/5);
		width:150px;
		border: 5px solid #fcfcfc;
		// float:left;
		vertical-align:middle;
		border-radius:50%;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
		background: transparent url(/static/images/viccircle1.png) 0% 60% no-repeat;
		background-size: contain;
		@include breakpoint($phone) {
			@include unshift();
			margin:auto;
			@include center(150px);
		}	
	}
	.profile_personal {
		@include shift(2/7);
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		// @include span(2/5);
		display:inline-block;
		vertical-align:middle;
		color: #fff;
		@include breakpoint($phone) {
			@include unshift();
			@include center(100%);
			// float:right;
			text-align:center;
			// position:relative;
			// margin: auto;
		}
		}	
		.display_name {
			font-size: 2.5em;
		}
		.description {
			font-family: "OpenSans";
			font-size:1.1em;

		}
	}
}
	.profile_stats {
		background-color:#f9f9f9;
		// @include span(1/2);
		@include center(80%);
		@include breakpoint($phone) {
			@include center(90%);
		}
		.stat {
			box-sizing:border-box;
			@include span(1/4);
			font-size: 1.5em;
			line-height:3em;
			text-align:center;
			border-left: 1px solid #e2e2e2;
			border-right: 1px solid #e9e9e9;
			color:#7d7d7d;
			text-shadow: 1px 1px #fafafa;
			// padding: 
		}			
	}
	.profile_main {
		@include cf();
		.profile_stats {
			// @include span(2/3);
		}
	}

.profile_stats{
	// height: 3em;
	.uploads, .collections {
		color: #444;
		$statFontSize: 1.5em;
		cursor:pointer;
		transition: border-bottom 0.3s ease-out;
		// margin:auto
		font-size: $statFontSize;
		line-height: $statFontSize;
		.stat__label {
			display:inline-block;
			padding: 0.5em 0;
		}
		.stat__value {
			font-size: 0.9em;
			color: #fff;
			display:inline-block;
			text-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
			margin-left: 1em;
			padding: 0 0.15em;
			min-width: 1.5em;
			border-radius:5px;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		}
	}
	.uploads {
		.stat__value {
		background-color: $uploadColour;
		}
	}
	.collections {
		.stat__value {
			background-color: $collectionsColour;
		}
	}
}
.profile_stats.uploads {
	.uploads {
		border-bottom: 3px solid $uploadColour;
		
	}
	.collections {
		border-bottom: 0;
	}
}
.profile_stats.collections {
	.collections {
		border-bottom: 3px solid $collectionsColour;
	}
	.uploads {
		border-bottom: 0;
	}
}
.pad {
	background-color: #fff;
	display:block;
	width:97.5%;
	margin: auto;
	padding: 7px;
	border-radius:5px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}



/* Profile Edit Page */
.profile__editor__header {
	color:#fff;
	display:flex;
	width: 100%;
	min-height: 350px;
	background: transparent $defaultBackgroundImage 0% 60% no-repeat;
	background-size: cover; 
	.header_contents {
		width: 50%;
		padding: 1em 0;
		margin:auto;
		background-color:rgba(0, 0, 0, 0.4);
		@include breakpoint($phone) {
			width: 80%;
		}
	}
	.header__avatar__wrapper {
		margin:0;
		font-size: 3em;
		text-align:center;
	}
	.header__profile__description {
		// font-size:0.8em;
		text-align:center;
		// width: 60%;
		margin:auto;
		box-sizing:border-box;
		@include breakpoint($phone) {
			// width:90%;
		}
	}
}
.profile__editor__body {
	.profile__body__wrapper {
		width: 70%;
		@include breakpoint($phone) {
			width: 100%;
		}
		margin:auto;
	}
	padding:1em;
	margin:1em auto;
	width: 60%;
	background-color: #fefefe;
	border-radius: 7px;
	box-shadow:  0 0 2px rgba(0, 0, 0, 0.2);
	@include breakpoint($phone) {
		width: 80%;
	}
}
.profile__input--isbrand {
	visibility:hidden;
	height:0;
	width:0;
}
.profile__input {

	width:100%;
	font-weight:300;
	font-size: 0.9em;
	padding: 1em 0 0;
	display:block;
	background-color: transparent;
	border:none;
	outline:none;
	border-bottom:1px solid #888;
	box-sizing:border-box;
	transition: border-width 0.2s ease-out, max-height 0.1s ease-out;
	.profile__input--isbrand ~ &--brandname {
		max-height:0;
		opacity:0;
		padding:0
		// margin:0;
	}
	.profile__input--isbrand:checked ~ &--brandname {
		max-height:300px;
		opacity:1;
		// margin:0;
	}
	&--brandname {
		margin-top:0.5em;
		margin-bottom:0;
	}
	&:focus {
		border-bottom-width: 2px;
		outline:none;
	}
}
.profile__done__button {
	border:none;
	color:#fff;
	background-color:#68D8AA;
	display:block;
	width: 100px;
	margin:auto;
	padding: 1em;
}
.profile__input__label {
	// display:inline-block;
	font-weight:bold;
	font-size:0.9em;
	// border-bottom: 2px solid #ddd;
}
$switchHeight: 35px;
.switch__toggle__wrapper {
	// padding:2px;
	// box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.9);
	background-color:#fff;
	cursor:pointer;
	display:block;
	position:relative;
	box-sizing:border-box;
	height: $switchHeight;
	width: 2*$switchHeight;
	border: 1px solid $switchColor;
	// border-radius: 
	border-radius: 0.5* $switchHeight;
	// box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);
	.switch__toggle {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
		transition:left 0.1s ease-in-out;
		top: 3px;
		left:5px;
		display:block;
		width: $switchHeight - 8px;
		height: $switchHeight - 8px;
		border: 1px solid $switchColor;
		border-radius:50%;
		box-sizing:border-box;
		position:relative;
		background-color:$switchColor;
	}
	&:after, &:before {
		font-size:0.75em;
		font-weight:bold;
		position:absolute;
		line-height:$switchHeight;
		color: $switchColor;
		padding: 0 5px;
	}
	&:after{
		content:attr(on);
		right: 2px;
		top:0;
	}
	&:before {
		font-weight:bolder;
		content:attr(off);
		left:0;
	}
}
.profile__input--isbrand:checked ~ .switch__toggle__wrapper {
	// background-color:lighten($switchColor, 25%);
	.switch__toggle {
		left:55%;
		&:after{
			font-weight:bolder;
		}
		&:before{
		font-weight:normal;
	}
	}
}
.profile__header__text {
	pointer-events:none;
	padding-top:6em;
	text-align:center;
	font-size: 1.6em;
	color: #fff;
	margin: 0 auto;
    position: absolute;
    height:350px;
	/*line-height: 250px;*/
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
		@include breakpoint($phone) {
		padding-top:10em;
	}
}
.profile__header {
	min-height:300px;
	text-align:center;
}
.profile__description {
	font-size:0.4em;
	margin-top:0.5em;
}
.profile__section__body {
	display:inline-block;
	min-height:350px;
	width:100%;
	background-size:cover;
	@include breakpoint($phone) {
		min-height:450px;
	}
}
.profile_main {
	margin: 0.5em auto;
}
.profile__section {
	overflow:hidden;
	position:relative;
	margin: 1em 1.5%;
	display:inline-block;
	width:30%;
	@include breakpoint($phone) {
		width:100%;
		display:block;
		margin: 0.4em 0;
		// min-height:
		// margin:auto 5%;
	}
}