@import "jeet/index";
@import "breakpoints";
textarea.description, input.url, input.display_name {
	padding:0.2em;
	display:block;
	width: 100%;
	background-color:transparent;
}
textarea.description{
	// height: 3em;
	font-size:1.1em;
}
a.update_link {
	// @include center(50%);
	width:50%;
	display:block;
	background-color: #76a698;
	cursor:pointer;
	color:#fff;
	padding:0.7em;
	margin-top:1em;
	font-size: 0.9em;
	border-radius: 5px;
	text-align:center;
	@include breakpoint($phone) {
		margin:1em auto;
	}
}
input.url{

}

input.display_name {

}

.profile_personal label {
	@include breakpoint($phone) {
		width: 75%;
		display:block;
		text-align:center;
		margin-left:10em;
	}
}
textarea.description:focus, input.url:focus, input.display_name:focus {
	background-color:rgba(255, 255, 255, 0.7);
	color: #233;
	font-weight:bold;
}
.profile_personal {
	.hint--left:before,.hint--left:after, .hint--right:before, .hint--right:after{
		// bottom: 5%;
	}
	.description_label {	
		&.hint--left:before, &.hint--left:after, &.hint--right:before, &.hint--right:after{
			bottom: 80%;
		}
	}
}