@import "breakpoints.scss";
.search {
	background-color: #fff;
	position:absolute;
	width:40%;
	top:55px;
	font-size:0.8em;
	transition: left 0.2s ease-out;
	left:-40%;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
	@include breakpoint($phone) {
		width: 80%;
		left:-80%;
	}
			.mobile__hamburger--bottom {
			opacity:0;
		}
		.mobile__hamburger--middle {
			transform:rotateZ(-45deg);
		}
		.mobile__hamburger--top {
			transform:translate(0, 7px) rotateZ(45deg);
		}
	.ssentry__details__wrapper:first-of-type {
		width:90%;
		margin: 0em auto;
		display:block;
		float:none;
		clear:both;
	}
	.sscolours__block {
		.sscolours__blockpallete {
			width:35px;
			height:35px;
			.sscolours__blockpallete--selected {
				line-height:35px;
			}
		}
	}
}

#search__toggle {
	width:0;
	height:0;
	opacity:0;
	display:inline;
}
#search__toggle:checked + .search {
	left:0%;
	.search__icon--filter {
		display:none;
	}
	.search__icon--close {
		display:block;
	}
}
.search__icon--close {
	display:none;
	width:100%;
	display:none;
	color:#454545;
	text-align:center;
	font-size:4em;
	line-height:0.9em;
}
	
.search__toggle__label {
	background-color:rgb(255, 255, 255);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	position:absolute;
	top:30px;
	left:100%;
	width:4em;
	height:4em;
	border-radius: 0 5px 5px 0;
	cursor:pointer;
	.search__icon--filter {
		display:block;
		font-family:ssicons;
		font-size:5em;
		text-align:center;
		color:#454545;
	}
}