@import "jeet/index";
@import "breakpoints";
$iconSize:1.5em;

.sstags__wrapper--male, .sstags__wrapper--female{
	transition: all 0.1s ease-in;
	color:#989898;
	& .sstags__icon{color:#989898;}
}
.sstags__wrapper {
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
// border-radius: 28px;
// color:#fff;
@include span(2/7);
padding:0.6em;
cursor:pointer;
// width:10%;
margin:0.3em;
// min-width:100px;
font-size:0.85em;
float:left;
text-align:right;
background-color:#fdfdfd;
box-sizing:border-box;
@include breakpoint($phone) {
	@include col(1/2);
	margin-left:1%
	// margin:0
}
&:hover{
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
	.sstags__icon{
		box-shadow:none;
	}
}

}
.sstags__wrapper--male {
	// background: #4D93E5;
	// background: #4D93E5;
	border-bottom:2px solid #458AD7;
	// color: #acacac;
	// background-image: -o-linear-gradient(90deg, #488BDA -2%, #488BDA -1%, rgba(59,128,209,0.95) 0%, #4F96E9 100%);
	// background-image: -moz-linear-gradient(90deg, #488BDA -2%, #488BDA -1%, rgba(59,128,209,0.95) 0%, #4F96E9 100%);
	// background-image: -webkit-linear-gradient(90deg, #488BDA -2%, #488BDA -1%, rgba(59,128,209,0.95) 0%, #4F96E9 100%);
	// background-image: -ms-linear-gradient(90deg, #488BDA -2%, #488BDA -1%, rgba(59,128,209,0.95) 0%, #4F96E9 100%);
	// background-image: linear-gradient(0deg, #488BDA -2%, #488BDA -1%, rgba(59,128,209,0.95) 0%, #4F96E9 100%);
	&:hover{
		// border-bottom:none;
		// background: #4A90E2;
		// background-image: none;
	}
	
}
.sstags__wrapper--female {

	border-bottom:2px solid #EB6161;
// background: #EB6161;
	& .sstags__icon{}
}
.sstags__icon{
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
}
.sstags__text{float:left; display:inline-block; margin-left:0.5em; line-height:1.5*$iconSize;}
.sstags__icon--selected, .sstags__icon {font-family:ssicons; text-align:center; width:$iconSize; display:inline-block; border-radius:50%; height:$iconSize; font-size:$iconSize;line-height:$iconSize; float:left; background-color:#fff}

.sstags__icon--selected{color:#68BB0D !important}