@import "jeet/index";
@import "breakpoints";
// @import "login.scss"; 
$errorColour: #FD8267;
$successColour: #67C400;
.srpanel {
	@include col(1/1);
	// @include center(100%);
	margin-top:2.5em;
	z-index:2;
	position:fixed;
}

.panel {
	@include center(30%);
	font-size:0.9em;
	text-align:center;
	color:#fff;
	padding: 0.3em;
	border-radius:5px;	
}
.srpanel__error {
	@extend .panel;
	border: 1px solid lighten($errorColour, 1%);
	// border-top: 1px solid lighten($errorColour, 39%);
	background-color: darken($errorColour, 5%);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.srpanel__success{
	@extend .panel;
	border: 1px solid lighten($successColour, 1%);
	background-color: $successColour;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.overlay_visible {
	top:0;
	left:0;
	@include column(1/1);
	height:auto;
	min-height:100%;
	position:fixed;
	background-color: rgba(0, 0, 0, 0.9)
}
$twitterBlue: #4099FF;
$facebookBlue:#3b5999;
$googleRed:#DD4B39;
$fontSize: 2.5em;
.sslogin__wrapper{
	width:50%;
	min-width:400px;
	margin:15% auto;
	& .sslogin__intro_text {
		text-align:center;
		color:#fff;
		margin-bottom:2em;
	}
	& .srlogin__button {
		min-width:350px;
		width:50%;
		margin:auto;
		text-decoration:none;
		outline:none;
		text-align:center;
		border-radius:5px;
		margin-top: 1.5em;
		display:block;
		// padding:0.75em;
		color:#fff;
		text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
		& .srlogin__provider__icon {
			display:inline-block;
			// padding:0.3em;
			width:10%;	
			font-family:ssicons;
			font-size:$fontSize/2;
			font-weight: bold;
		}
		& .srlogin__provider__text {
			
		}
	}
	.srlogin__provider__icon {
		line-height:$fontSize;
	}
	.srlogin__button__facebook {
		background-color:$facebookBlue;
		&:hover{
			background-color: darken($facebookBlue, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.srlogin__button__twitter {
		background-color:$twitterBlue;
		&:hover{
			background-color: darken($twitterBlue, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}
	.srlogin__button__google {
		background-color:$googleRed;
		&:hover{
			background-color: darken($googleRed, 10%);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
	}

}
#create {	
	@include center(10%);
	@include breakpoint($phone) {
		float:right;
		margin-right:10%;	
		width:20%;
		max-width:100%;
	}
	.create_button {
		color:#fff;
		// width:100%
		width:100%;
		display:inline-block;
		// @include center(100%);
		background-color:$successColour;
		border-radius:5px;
		text-align:center;
		font-size:1.2em;
		line-height:2.4em;
		// padding-top:10px;
		margin-top:5px;
	}
}
// SIDEBAR

.sidebar__wrapper {
	z-index:1;
	position:absolute;
	padding-top:5em;
	width:40%;
	// pointer-events:none;
	& .toggle_label {
		z-index:1;
		border-radius: 0 5px 5px 0;
		width: 4em;
		height:4em;
		top:10px;
		background-color:rgba(0, 0, 0, 0.9);
		// padding:5
		display:block;
		position:absolute;
		// left:50%;
	}
	& input.toggle_switch {
		display:none;
	}
	#search {
		background-color:rgba(255, 255, 255, 0.85);
		transition: all 100ms ease-out;
		padding: 1em;
		min-height:400px;
		border-radius: 0 10px 10px 0;
		box-shadow:0 0 15px rgba(0, 0, 0, 0.1);
		// margin-top:30px;
	}
	& input.toggle_switch + #search {
		position:relative;
		width:0;
		visibility:hidden;
		height:0;
		// transform: scale(0);
	}
	& input.toggle_switch:checked + #search {
		width: 100%;
		visibility:visible;
		height:100%;
		// transform: scale(1);
		// transfor,
	}
	.search_header {
		@include center(30%);
		font-weight: bolder;
		text-align:center;
		font-size:1.2em;
		margin:1em auto 0.3em auto;
	}
	.search_item_gender {
		@include column(1/3);
		text-align:center;
	}
	.search_items_wrapper{
		@include cf();
	}
	.search_item_styles, .search_item_colours {
		width:30%;
		float:left;
		text-align:center;
		// @include span(1/3, $cycle:3);
	}
	.search_item {
		border: solid 1px #dfdfdf;
		background-color:#fff;
		margin:1%;
		padding:0.5em;
		border-radius:5px;
		.search_item_text{
			float:left;
		}
		.sstags__icon {
			margin-right:0.5em;
			display:inline-block;
			font-size: 0.8em;
		}
	}
	.done_button {
		background-color:$successColour;
		color:#fff;
		width: 50%;
		margin:1em auto;
		padding:0.5em;
		text-align:center;
		font-size:1.3em;
		border-radius:7px;
		display:block;
	}
}