require("./collection.tag")
<collections>
	<div class="collections__wrapper">
		<div style="float:left">
		<collection each={collection in opts.collections} collection={collection}/>
		</div>
	</div>
	<script>
	console.log(opts.collections)
	</script>
	<style>
	.collections__wrapper {
		/*width: 700px;*/
		display:flex;
		margin:auto;
	}
	</style>
</collections>