var fonts = require("../JSX/fonts.js")
require("./utils.tag")
<genders>
	<gender each="{label, icon in defaultGenders}"
	label={label}
	 onclick={parent.opts.toggle.bind(null, label)}
	}
	isselected={parent.opts.selectedgender==label}
	selectedicon={parent.selectedIcon}
	defaulticon = {parent.defaultGenders[label]} />
	<script>
	this.selectedIcon = fonts.success
	this.defaultGenders = opts.defaultgenders
	console.log(this.defaultGenders, opts)
	// this.label = opts.label
	this.selectedgender = opts.selectedgender
	</script>
</genders>
<gender>
	<div  onclick={opts.toggle.bind(null, label)} class='sstags__wrapper sstags__wrapper--{label.toLowerCase()}'>
		<span class={'sstags__icon '+ (opts.isselected ? 'sstags__icon--selected' : '')}>
			<raw value={opts.isselected ? opts.selectedicon : opts.defaulticon}/>
		</span>
		<span class="sstags__text">{opts.label}</span>	
		</div>
		<script>
		</script>
</gender>
