body {
  background-color: rgb(247, 247, 247);
  font: 300 0.938em/1.38 'Open Sans';
  color: rgb(24, 24, 24);
}

.cofounder1pic {
  width: 98.0456026058%;
  height: 280px;
  margin: 0 auto;
  background-image: url('/static/images/viccircle1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.cofounder1wrapper {
  
  clear: both;
  width: 100%;
  margin-top: 60px;
}

.cofounder1wrapper .text_cofounder2about {
  width: 80%;
  min-height: 230px;
}

.cofounder2pic {
  width: 97%;
  height: 280px;
  margin: 0 auto;
  background-image: url('/static/images/mecircle1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.aboutwrapper,
.cofounder2wrapper,
.missionwrapper {
  
  clear: both;
  width: 100%;
}

.cofounder2wrapper .text_cofounder2about {
  width: 90%;
  min-height: 220px;
}

.header {
  
  width: 100%;
  height: 85px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
.team {
  
  clear: both;
  width: 100%;
  /*height: 900px;*/
}

.teammatepic {
  width: 96%;
  height: 280px;
  margin: 0 auto;
  background-image: url('/static/images/cicicircle1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.teammatewrapper {
  
  clear: both;
  width: 100%;
}

.text_aboutparagraph {
  
  clear: both;
  width: 70%;
  min-height: 240px;
  margin: 40px 0 0 14%;
  border-bottom: 1px solid rgb(150, 150, 150);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_aboutparagraph p {
  margin-bottom: 1em;
}

.text_aboutsocialmediaintern {
  width: 90%;
  min-height: 190px;
  margin: 30px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_aboutusheader {
  
  width: 100%;
  min-height: 48px;
  margin-top: 80px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_cofounder1title {
  width: 100%;
  min-height: 37px;
  margin: 10px auto 0;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_cofounder2about {
  margin: 30px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_cofounder2title {
  width: 100%;
  min-height: 45px;
  margin: 10px auto 0;
  font-size: 0.933em;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_missionparagraph {
  
  clear: both;
  width: 67.8333333333%;
  min-height: 210px;
  margin: 34px 0 0 13.91667%;
  border-bottom: 1px solid rgb(150, 150, 150);
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text_missiontitle {
  
  width: 100%;
  min-height: 35px;
  margin-top: 80px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_socialmediaintern {
  width: 100%;
  min-height: 45px;
  margin: 10px auto 0;
  font-size: 0.933em;
  font-weight: 600;
  text-align: center;
  color: rgb(24, 24, 24);
}

.theteamtitle {
  
  width: 100%;
  min-height: 34px;
  margin-top: 80px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(24, 24, 24);
}
/*
.wrapper {
  
  width: 100%;
  height: 3000px;
  background-color: rgb(250, 250, 250);
}*/

@media(max-width: 1024px) {
  .aboutwrapper .text_aboutparagraph {
    margin-left: 13.99994%;
  }

  .header .logo {
    margin-left: 3.91541%;
  }

  .missionwrapper .text_missionparagraph {
    margin-left: 13.91602%;
  }

  .team .cofounder2wrapper,
  .team .teammatewrapper {
    margin-top: 60px;
  }

}

@media(max-width: 950px) {
  body {
    font-size: 0.938em;
  }

  .aboutwrapper .text_aboutparagraph {
    margin-left: 14%;
  }


  .missionwrapper .text_missionparagraph {
    margin-left: 13.91612%;
  }

  .team .cofounder2wrapper {
    margin-top: 0;
  }

  .team .teammatewrapper {
    
    margin-top: 0;
  }
}

@media(max-width: 750px) {

  .missionwrapper .text_missionparagraph {
    margin-left: 13.9125%;
  }
}

@media(max-width: 500px) {

  .cofounder1wrapper .text_cofounder2about {
    min-height: 340px;
  }

  .cofounder2wrapper .text_cofounder2about {
    min-height: 300px;
  }


  .missionwrapper .text_missionparagraph {
    margin-left: 13.91563%;
  }

  .teammatewrapper .text_aboutsocialmediaintern {
    min-height: 250px;
  }

}