body {
  background-color: rgb(255, 255, 255);
  font: 400 0.875em/1.38 Lato;
  color: rgb(24, 24, 24);
}

.aboutsub {
  clear: both;
  width: 95.3077873918%;
  min-height: 24px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutusheading {
  width: 100%;
  min-height: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutuswrapper {
  width: 25.5833333333%;
  min-height: 180px;
  margin: 50px 0 0 10%;
}

.advertisesub,
.signupsub {
  clear: both;
  width: 100%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.blogsub {
  clear: both;
  width: 100%;
  min-height: 24px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.contactussub {
  clear: both;
  width: 95.3077873918%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.contactuswrapper {
  width: 70%;
  border-radius:7px;
  padding: 0.5em;
  margin: 20px auto;
  background-color: #fefefe;
}

.exploresub {
  clear: both;
  width: 100%;
  min-height: 21px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.facebookbutton {
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  background-image: url('../images/facebook.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footernav {
  clear: both;
  width: 100%;
  min-height: 400px;
  background-color: rgb(40, 40, 40);
}

.input_enteremail, .input_entersubject, .input_entername {
  display: block;
  clear: both;
  width: 56%;
  margin: 4px 0 0 19.98698%;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
    font-weight: 300;
    font-size: .9em;
    padding: 0.3em 0 0;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #888;
    box-sizing: border-box;
    transition: border-width .2s ease-out,max-height .1s ease-out;
}

/*.input_entername,
.input_entersubject {
  display: block;
  clear: both;
  width: 56%;
  height: 35px;
  margin: 4px 0 0 19.99442%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-style: italic;
  font-size: 1.143em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(103, 103, 103);
}*/

.instagram {
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('../images/Instagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pinterest {
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('../images/pinterest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.quicklinksheading {
  width: 99.99491353%;
  min-height: 40px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.quicklinkswrapper {
  width: 25.5989583333%;
  min-height: 180px;
  margin: 50px 0 0 1.61589%;
}

.rightreserved {
  clear: both;
  width: 100%;
  height: 46px;
}

.section1 {
  width: 100%;
  padding: 1em 0;
  background-image: url('../images/ankara_background_dark2.jpg');
  background-size: cover;
  background-position: center center;
}

.section2 {
  clear: both;
  width: 100%;
  height: 100px;
}

.socialheadding {
  width: 100%;
  min-height: 35px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.socialmediawrapper {
  float: right;
  width: 25.5989583333%;
  min-height: 340px;
  margin: 50px 10.00391% 0 0;
}

.termsofservicesub {
  clear: both;
  width: 93.6662546353%;
  min-height: 24px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
}

.text_contactemailaddress {
  width: 100%;
  min-height: 37px;
  margin-top: 35px;
  font-size: 1.143em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_copyright {
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_message {
  clear: both;
  margin: 25px 0 0 20.0093%;
  font-size: 1.143em;
  line-height: 1.38;
  color: rgb(24, 24, 24);
}

.text_name {
  margin: 20px 0 0 19.99442%;
  font-size: 1.143em;
  color: rgb(24, 24, 24);
}

.text_email,
.text_subject {
  clear: both;
  margin: 25px 0 0 19.99442%;
  font-size: 1.143em;
  line-height: 1.38;
  color: rgb(24, 24, 24);
}

.textarea_message {
  display: block;
  border:1px solid #efefef;
  clear: both;
  width: 66.7916152897%;
  height: 212px;
  margin: 4px 0 0 19.99442%;
  padding: 5px;
  font: 400 1.143em/1.38 'Open Sans Condensed';
  color: rgb(0, 0, 0);
  resize: none;
}

.twitter {
  clear: both;
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('../images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wrapper {
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.youtube {
  clear: both;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-image: url('../images/Youtube.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.contact_button {
  display: block;
  clear: both;
  width: 20%;
  margin:1em auto;
  border-radius: 3px;
  background-color: #ee6677;
  border:none;
  font-size: 1em;
  padding:0.65em;
  text-align: center;
  color: #fff;
  transition: background-color 0.25s ease-in-out;
}
.contact_button:hover {
  background-color:#ff6677;
}

@media(max-width: 1024px) {
  .contactuswrapper .input_enteremail {
    margin-left: 19.9673%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.00654%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.99564%;
  }

  .footernav .aboutuswrapper {
    margin-left: 9.99756%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61438%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00214%;
  }

  .socialmediawrapper .socialheadding {
    margin-top: 3px;
  }

  .wrapper .section1 {
    margin-top: 55px;
  }

  .contactuswrapper .contact_button {
    width: 25.8665852852%;
    margin-left: 37.05722%;
  }
}

@media(max-width: 950px) {
  body {
    font-size: 0.875em;
  }

  .contactuswrapper .input_enteremail {
    margin-left: 19.96711%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.00235%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.9953%;
  }

  .footernav .aboutuswrapper {
    margin-left: 10%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61349%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00329%;
  }

  .contactuswrapper .contact_button {
    width: 25.8662280701%;
    margin-left: 37.05592%;
  }
}

@media(max-width: 750px) {
  .contactuswrapper .input_enteremail {
    margin-left: 19.98438%;
  }

  .contactuswrapper .text_message {
    margin-left: 20.01042%;
  }

  .contactuswrapper .input_entername,
  .contactuswrapper .input_entersubject,
  .contactuswrapper .text_email,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject,
  .contactuswrapper .textarea_message {
    margin-left: 19.99219%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6125%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10%;
  }

  .section1 .contactuswrapper {
    width: 80%;
  }

  .wrapper .section1 {
    margin-top: 115px;
  }

  .contactuswrapper .contact_button {
    width: 25.8645833333%;
    margin-left: 37.0625%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.875em;
  }

  .contactuswrapper .input_entername {
    width: 73.7777777777%;
    margin-left: 13.09211%;
    font-size: 1.071em;
  }

  .contactuswrapper .input_enteremail,
  .contactuswrapper .input_entersubject {
    width: 73.78%;
    margin-left: 13.09211%;
    font-size: 1.071em;
  }

  .contactuswrapper .text_email,
  .contactuswrapper .text_message,
  .contactuswrapper .text_name,
  .contactuswrapper .text_subject {
    margin-left: 13.09211%;
    font-size: 1.071em;
  }

  .contactuswrapper .textarea_message {
    width: 73.78%;
    margin-left: 13.09211%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6156299999%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00313%;
  }

  .section1 .contactuswrapper {
    width: 95%;
    height: 669px;
    margin-top: 70px;
  }

  .section2 .text_contactemailaddress {
    font-size: 1.071em;
  }

  .wrapper {
    min-width: 300px;
  }

  .wrapper .section1 {
    height: 800px;
    margin-top: 55px;
  }
}