body {
  background-color: rgb(255, 255, 255);
  font: 300 0.938em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.aboutsub {
  text-decoration:none;
  display:block;
  width: 95.3077873918%;
  min-height: 24px;
  margin: 10px auto 0;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutusheading {
  width: 100%;
  min-height: 40px;
  margin: 0 auto;
  font-size: 0.933em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.aboutuswrapper {
  float: left;
  width: 12%;
  min-height: 180px;
  margin: 50px 0 0 34%;
}

.advertisesub,
.signupsub {
  text-decoration: none;
  display:block;
  width: 100%;
  min-height: 24px;
  margin: 0 auto;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.blogsub {
  text-decoration:none;
  display:block;
  display:block;
  width: 100%;
  min-height: 24px;
  margin: 10px auto 0;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.connectimage {
  float: left;
  width: 18.7994791666%;
  height: 185px;
  margin: 100px 0 0 41.22526%;
  background-image: url('/static/images/connectsign.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contactussub {
  text-decoration:none;
  display:block;
  width: 100%;
  min-height: 24px;
  margin: 0 auto;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.exploresub {
  text-decoration:none;
  display:block;
  width: 100%;
  min-height: 21px;
  margin: 0 auto;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.facebookbutton {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin: 10px auto 0;
  background-image: url('/static/images/facebook.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footernav {
  float: left;
  clear: both;
  width: 100%;
  min-height: 400px;
  background-color: rgb(40, 40, 40);
}

.header {
/*  float: left;
  width: 100%;
  height: 85px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);*/
}

.hero {
  float: left;
  clear: both;
  width: 100%;
  height: 635px;
  background-image: url('/static/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.instagram {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin: 15px auto 0;
  background-image: url('/static/images/Instagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/*.logo {
  float: left;
  width: 19.1666666666%;
  min-width: 230px;
  height: 40px;
  min-height: 40px;
  margin: 22px 0 0 3.91667%;
  background-image: url('/static/images/stylestation_light.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}*/

.magnifyingglass {
  float: left;
  width: 15.1666666666%;
  height: 141px;
  margin: 65px 0 0 42.41667%;
  background-image: url('/static/images/magnifying_glass_black.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pic1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 25;
  width: 24.75%;
  height: 265px;
  margin: 40px 0 0 8.33073%;
  background-image: url('/static/images/IMGP7196.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pic2 {
  position: relative;
  float: left;
  z-index: 26;
  width: 25.6666666666%;
  height: 266px;
  margin: 40px 0 0 4.07813%;
  background-image: url('/static/images/IMGP7188.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pic3 {
  position: relative;
  float: right;
  z-index: 27;
  width: 23.4166666666%;
  height: 264px;
  margin: 40px 8.83073% 0 0;
  background-image: url('/static/images/IMGP7185.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pinterest {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin: 15px auto 0;
  background-image: url('/static/images/pinterest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.quicklinksheading {
  width: 99.99491353%;
  min-height: 40px;
  margin: 0 auto;
  font-size: 0.933em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.quicklinkswrapper {
  float: left;
  width: 12%;
  min-height: 180px;
  margin-top: 50px;
}

.rightreserved {
  float: left;
  clear: both;
  width: 100%;
  height: 46px;
}

.socialheadding {
  width: 100%;
  min-height: 35px;
  margin: 3px auto 0;
  font-size: 0.933em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.socialmediawrapper {
  float: left;
  width: 12%;
  min-height: 340px;
  margin-top: 50px;
}

.termsofservicesub {
  display:block;
  text-decoration:none;
  min-height: 24px;
  margin: 0 auto;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
}

.text_copyright {
  float: left;
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_subtitle {
  float: left;
  clear: both;
  width: 50%;
  min-height: 93px;
  margin: 25px 0 0 25.16667%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(220, 220, 220);
}

.text_title {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(234, 234, 234);
}

.twitter {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin: 15px auto 0;
  background-image: url('/static/images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.value3 {
  float: left;
  clear: both;
  width: 100%;
  height: 550px;
  background-color: rgb(155, 110, 111);
}

.valueparagraph {
  float: left;
  clear: both;
  width: 50%;
  margin: 20px 0 0 25%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.valuetitle {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(0, 0, 0);
}

.valuewrapper {
  float: left;
  clear: both;
  width: 100%;
  height: 740px;
}

@keyframes slideup {
  from {
    top:400px;
    opacity: 0;
  }

  to {
    top:0px;
    opacity: 1;
  }
}

@keyframes slidedown {
  from {
    top:-400px;
    opacity: 0;
  }

  to {
    top:0px;
    opacity: 1;
  }
}
.whatweare {
  animation-name: slidedown;
  animation-duration: 1s;
  position:relative;
  float: left;
  width: 92.6666666666%;
  min-height: 55px;
  margin: 200px 0 0 4.2487%;
  font-size: 1.467em;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
}

.wrapper {
  float: left;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.youtube {
  width: 100%;
  height: 40px;
  margin: 15px auto 0;
  background-image: url('/static/images/Youtube.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button {
  display: block;
  position:relative;
  animation-name: slideup;
  animation-duration: 1s;
  width: 22.4166666666%;
  height: 39px;
  margin:auto;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 3px;
  font-size: 1.067em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
._button:hover {
  color:#555;
  background-color: rgb(247, 247, 247);
}

@media(max-width: 1024px) {
  .footernav .aboutuswrapper {
    margin-left: 33.9981099999%;
  }

  /*.header .logo {
    margin-left: 3.91541%;
  }
*/
  .value3 .connectimage {
    width: 17.0666666666%;
    height: 171px;
    margin-left: 41.54816%;
  }

  .value3 .text_subtitle {
    width: 52.83203125%;
    margin-left: 23.53516%;
  }

  .valuewrapper .magnifyingglass {
    width: 16.2109375%;
    height: 147px;
    margin-left: 40.625%;
  }

  .valuewrapper .pic1 {
    position: relative;
    z-index: 25;
    margin-left: 8.32825%;
  }

  .valuewrapper .pic2 {
    position: relative;
    z-index: 26;
    margin-left: 4.0771499999%;
  }

  .valuewrapper .pic3 {
    position: relative;
    z-index: 27;
    margin-right: 8.82874%;
  }

  .valuewrapper .valuetitle {
    margin-top: 14px;
  }

  .wrapper .hero {
    height: 550px;
  }

  .wrapper .value3 {
    height: 500px;
  }

  .wrapper .valuewrapper {
    height: 700px;
  }

}

@media(max-width: 950px) {
  body {
    font-size: 0.938em;
  }

  .footernav .aboutuswrapper {
    margin-left: 34%;
  }

  .hero .whatweare {
    width: 80%;
    margin-left: 10%;
  }

  .value3 .connectimage {
    margin-left: 40.72862%;
  }

  .value3 .text_subtitle,
  .valuewrapper .valueparagraph {
    width: 56.1052631578%;
    margin-left: 22%;
  }

  .valuewrapper .magnifyingglass {
    width: 15.2631578947%;
    height: 126px;
    margin-left: 40.94737%;
  }

  .valuewrapper .pic1 {
    position: relative;
    z-index: 25;
    margin-left: 8.32895%;
  }

  .valuewrapper .pic2 {
    position: relative;
    z-index: 26;
    margin-left: 4.07566%;
  }

  .valuewrapper .pic3 {
    position: relative;
    z-index: 27;
    margin-right: 8.82895%;
  }

  .valuewrapper .valuetitle {
    margin-top: 16px;
  }

}

@media(max-width: 750px) {
  .footernav .aboutuswrapper {
    width: 20.8%;
    margin-left: 18.4%;
  }

  .footernav .quicklinkswrapper {
    width: 18.2666666666%;
    margin-left: 3.2%;
  }

  .footernav .socialmediawrapper {
    width: 16.4%;
    margin-left: 3.73125%;
  }


  .hero .whatweare {
    margin-top: 200px;
  }

  .value3 .connectimage {
    width: 21.0666666666%;
    margin-top: 60px;
    margin-left: 40%;
    background-size: contain;
  }

  .value3 .text_subtitle {
    width: 69.6%;
    margin-top: 30px;
    margin-left: 15.2%;
  }

  .value3 .text_title {
    margin-top: 29px;
  }

  .valuewrapper .magnifyingglass {
    margin-top: 45px;
    margin-left: 40.94167%;
  }

  .valuewrapper .pic1 {
    position: relative;
    z-index: 25;
    margin-left: 8.325%;
  }

  .valuewrapper .pic2 {
    position: relative;
    z-index: 26;
    margin-left: 4.07292%;
  }

  .valuewrapper .pic3 {
    position: relative;
    z-index: 27;
    margin-right: 8.825%;
  }

  .valuewrapper .valueparagraph {
    width: 70%;
    margin-left: 15%;
  }

  .hero ._button {
    width: 28.9333333333%;
    margin:1.5em auto;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.938em;
  }

  .footernav .aboutuswrapper {
    width: 27.2%;
    margin-left: 10%;
  }

  .footernav .quicklinkswrapper {
    width: 23.7999999999%;
    margin-left: 1.8%;
  }

  .footernav .socialmediawrapper {
    width: 18.4%;
    margin-left: 3.6%;
  }


  .hero .whatweare {
    margin-top: 200px;
    font-size: 1.2em;
  }

  .value3 .connectimage {
    width: 33%;
    height: 146px;
    margin-left: 33.2%;
  }

  .value3 .text_subtitle {
    width: 80%;
    min-height: 170px;
    margin-left: 10%;
  }

  .value3 .text_title {
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
    font-size: 1.6em;
  }

  .valuewrapper .magnifyingglass {
    width: 20.4%;
    min-width: 80px;
    height: 122px;
    min-height: 90px;
    margin-top: 37px;
    margin-left: 39.8%;
  }

  .valuewrapper .pic1 {
    position: relative;
    z-index: 25;
    margin-top: 30px;
    margin-left: 8.32813%;
  }

  .valuewrapper .pic2 {
    position: relative;
    z-index: 26;
    margin-top: 30px;
    margin-left: 4.07188%;
  }

  .valuewrapper .pic3 {
    position: relative;
    z-index: 27;
    margin-top: 30px;
    margin-right: 8.82813%;
  }

  .valuewrapper .valueparagraph {
    width: 66.4%;
    margin-left: 16.8%;
  }

  .valuewrapper .valuetitle {
    width: 80%;
    margin-top: 24px;
    margin-left: 10%;
    font-size: 1.6em;
  }

  .wrapper {
    min-width: 300px;
  }

  .wrapper .hero {
    height: 450px;
  }

  .wrapper .value3 {
    height: auto;
  }

  .wrapper .valuewrapper {
    height: auto;
    min-height: 760px;
  }

  .hero ._button {
    width: 40%;
    height: 32px;
    /*margin-top: 40px;*/
    margin:2em auto;
    font-size: 1em;
  }
}
.footer__social__button {
  display:block;
  text-align:center;
}