.fluid-span-1 {
  width: 4%;
}

.fluid-span-2 {
  width: 10%;
}

.fluid-span-3 {
  width: 16%;
}

.fluid-span-4 {
  width: 22%;
}

.fluid-span-5 {
  width: 28%;
}

.fluid-span-6 {
  width: 34%;
}

.fluid-span-7 {
  width: 40%;
}

.fluid-span-8 {
  width: 46%;
}

.fluid-span-9 {
  width: 52%;
}

.fluid-span-10 {
  width: 58%;
}

.fluid-span-11 {
  width: 64%;
}

.fluid-span-12 {
  width: 70%;
}

.fluid-span-13 {
  width: 76%;
}

.fluid-span-14 {
  width: 82%;
}

.fluid-span-15 {
  width: 88%;
}

.fluid-span-16 {
  width: 94%;
}

.fluid-span-17 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 6%;
}

.fluid-offset-2 {
  margin-left: 12%;
}

.fluid-offset-3 {
  margin-left: 18%;
}

.fluid-offset-4 {
  margin-left: 24%;
}

.fluid-offset-5 {
  margin-left: 30%;
}

.fluid-offset-6 {
  margin-left: 36%;
}

.fluid-offset-7 {
  margin-left: 42%;
}

.fluid-offset-8 {
  margin-left: 48%;
}

.fluid-offset-9 {
  margin-left: 54%;
}

.fluid-offset-10 {
  margin-left: 60%;
}

.fluid-offset-11 {
  margin-left: 66%;
}

.fluid-offset-12 {
  margin-left: 72%;
}

.fluid-offset-13 {
  margin-left: 78%;
}

.fluid-offset-14 {
  margin-left: 84%;
}

.fluid-offset-15 {
  margin-left: 90%;
}

.fluid-offset-16 {
  margin-left: 96%;
}

