
.termsofservicesub {
  width: 93.6662546353%;
  min-height: 24px;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(247, 247, 247);
}

.text_aboutparagraph {
  width: 70%;
  margin:1em auto 4em;
  /*min-height: 320px;*/
  /*margin: 60px 0 0 14%;*/
  font-size: 1em;
  line-height: 1.38;
  color: rgb(24, 24, 24);
}

.text_aboutparagraph p {
  margin-bottom: 1em;
}

.text_aboutusheader {
  width: 100%;
  min-height: 48px;
  margin-top: 150px;
  font: 400 2em/1.38 'Gentium Basic';
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_copyright {
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  font-size: 0.933em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.twitter {
  width: 100%;
  height: 40px;
  min-height: 40px;
  margin-top: 15px;
  background-image: url('../images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wrapper {
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.youtube {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-image: url('../images/Youtube.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media(max-width: 1024px) {
  .aboutwrapper .text_aboutparagraph {
    margin-left: 13.99994%;
  }

  .footernav .aboutuswrapper {
    margin-left: 9.99756%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61438%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00214%;
  }

  .header .logo {
    width: 16.4154052734%;
    min-width: 210px;
    margin-left: 3.91541%;
  }

  .wrapper .footernav {
    margin-top: 60px;
  }
}

@media(max-width: 950px) {
  body {
    font-size: 0.938em;
  }

  .aboutwrapper .text_aboutparagraph {
    margin-left: 14%;
  }

  .footernav .aboutuswrapper {
    margin-left: 10%;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.61349%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10.00329%;
  }

  .header .logo {
    width: 16.416118421%;
    margin-left: 3.91612%;
  }

  .wrapper .footernav {
    margin-top: 0;
  }
}

@media(max-width: 750px) {
  .aboutwrapper .text_aboutusheader {
    margin: 1.5em auto 0;
  }

  .footernav .quicklinkswrapper {
    margin-left: 1.6125%;
  }

  .footernav .socialmediawrapper {
    margin-right: 10%;
  }

}

@media(max-width: 500px) {
  body {
    font-size: 0.938em;
  }

  .aboutwrapper .text_aboutparagraph {
    min-height: 300px;
  }

  .aboutwrapper .text_aboutusheader {
    margin-top: 50px;
  }


  .wrapper {
    min-width: 300px;
  }
}