body {
  background-color: rgb(255, 255, 255);
  font: 300 0.938em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.facebookbutton {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 12%;
  height: 40px;
  min-height: 40px;
  margin: 10px 0 0 20%;
  background-image: url('../images/facebook.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footernav {
  float: left;
  clear: both;
  width: 100%;
  background-color: rgb(40, 40, 40);
}

.header {
  float: left;
  width: 100%;
  height: 55px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.instagram {
  position: relative;
  float: left;
  z-index: 4;
  width: 12%;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  background-image: url('../images/Instagram.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.logo {
  width: 200px;
  min-width: 200px;
  height: 35px;
  min-height: 35px;
  margin: 10px auto 0;
  background-image: url('../images/stylestation_light.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pinterest {
  position: relative;
  float: left;
  z-index: 2;
  width: 12%;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  background-image: url('../images/pinterest.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.rightreserved {
  float: left;
  clear: both;
  width: 100%;
}

.section1 {
  float: left;
  clear: both;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.socialheadding {
  float: left;
  width: 100%;
  margin-top: 3px;
  padding-bottom: 5px;
  font-size: 0.933em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(240, 240, 240);
}

.socialmediawrapper {
  width: 100%;
  min-height: 140px;
  margin: 20px auto 0;
}

.text_copyright {
  float: left;
  width: 100%;
  min-height: 30px;
  margin-top: 5px;
  font-size: 0.867em;
  line-height: 1.38;
  text-align: center;
  color: rgb(24, 24, 24);
}

.text_dearuser {
  float: left;
  width: 80%;
  margin: 50px 0 0 10%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_paragraph {
  float: left;
  clear: both;
  width: 80%;
  margin: 15px 0 0 10%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_paragraph p {
  margin-bottom: 1em;
}

.text_regards {
  float: left;
  clear: both;
  width: 79.8333333333%;
  margin: 15px 0 0 10%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_signoff {
  float: left;
  clear: both;
  width: 61.8645833333%;
  min-height: 80px;
  margin: 15px 0 0 10%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.twitter {
  position: relative;
  float: left;
  z-index: 5;
  width: 12%;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  background-image: url('../images/twitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.wrapper {
  float: left;
  width: 100%;
  max-width: 600px;
  background-color: rgb(252, 252, 252);
}

.youtube {
  position: relative;
  float: left;
  z-index: 3;
  width: 12%;
  height: 40px;
  margin-top: 10px;
  background-image: url('../images/Youtube.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media(max-width: 500px) {
  .header .logo {
    width: 180px;
    min-width: 180px;
  }

  .rightreserved .text_copyright {
    margin-top: 10px;
  }

  .section1 .text_dearuser {
    margin-top: 60px;
  }

  .section1 .text_regards {
    width: 80%;
  }

  .section1 .text_signoff {
    width: 61.865625%;
    min-height: 85px;
  }

  .socialmediawrapper .facebookbutton {
    position: relative;
    z-index: 6;
  }

  .socialmediawrapper .instagram {
    position: relative;
    z-index: 4;
  }

  .socialmediawrapper .pinterest {
    position: relative;
    z-index: 2;
  }

  .socialmediawrapper .twitter {
    position: relative;
    z-index: 5;
  }

  .socialmediawrapper .youtube {
    position: relative;
    z-index: 3;
  }

  .wrapper {
    background-color: rgb(250, 250, 250);
  }
}

@media(max-width: 375px) {
  body {
    font-size: 0.938em;
  }

  .header .logo {
    width: 160px;
    min-width: 160px;
  }

  .section1 .text_signoff {
    width: 61.8666666666%;
  }

  .socialmediawrapper .facebookbutton {
    position: relative;
    z-index: 6;
    width: 16%;
    margin-top: 5px;
    margin-left: 10%;
  }

  .socialmediawrapper .instagram {
    position: relative;
    z-index: 4;
    width: 16%;
    margin-top: 5px;
  }

  .socialmediawrapper .pinterest {
    position: relative;
    z-index: 2;
    width: 16%;
    margin-top: 5px;
  }

  .socialmediawrapper .socialheadding {
    min-height: 0;
    margin-top: 0;
  }

  .socialmediawrapper .twitter {
    position: relative;
    z-index: 5;
    width: 16%;
    margin-top: 5px;
  }

  .socialmediawrapper .youtube {
    position: relative;
    z-index: 3;
    width: 16%;
    margin-top: 5px;
  }

  .wrapper {
    min-width: 300px;
  }
}