{% extends "base.html" %}
  {% block title %} About Us {% endblock %}

  {% block stylesheets %}
  <link rel="stylesheet" href="/static/aboutus.css">
  {% endblock %}
    {% block content %}
    <div class="aboutwrapper clearfix">
      <p class="text_aboutusheader">About Us</p>
      <div class="text_aboutparagraph">
        <p>Style Station is a fashion platform harnessing community power and fashion brands to source the best of black fashion. Our platform is a one stop shop for fashion and styles brought to you by passionate fashionista’s and top fashion brands, allowing our users to easily find style inspiration and discover new brands from all around the world.&nbsp;</p>
        <p>Create collections and share with your tailor, your best friends, your aunt or even your goldfish! Or upload styles to share with the world and be discovered. </p>
      </div>
    </div>
    <div class="missionwrapper clearfix">
      <p class="text_missiontitle">Our Mission</p>
      <p class="text_missionparagraph">Our mission is to infuse fashion with data and technology to give the best user experience to all lovers of black/ African fashion. We want to become a fashion sanctuary for Africans worldwide through our platform, to allow black fashionistas as well as budding or established brands to connect with others and be discovered.</p>
      <br style="clear:both" />
    </div>
    <div class="team clearfix">
      <p class="theteamtitle">The Team</p>
      <div class="cofounder1wrapper clearfix">
        <div class="cofounder1pic"></div>
        <div class="text_cofounder1title">
          <p>Co-Founder</p>
          <p>victor@stylestation.co</p>
        </div>
        <p class="text_cofounder2about">Victor has over 3 years professional experience in web development, web design and data analysis. He has a bachelors degree in Physics &amp; Biomedical Science from Dublin City Universty and an M.Sc in Bioinformatics &amp; Theoretical Systems Biology from Imperial College London. He enjoys listening to podcasts, pointing his camera at things and also has an interest in machine learning. He deals with all things tech and data related for Style Station.</p>
      </div>
      <div class="cofounder2wrapper clearfix">
        <div class="cofounder2pic"></div>
        <div class="text_cofounder2title">
          <p>Co-Founder</p>
          <p>email: marjorie@stylestation.co</p>
        </div>
        <p class="text_cofounder2about">Marjorie comes from a fashion/ beauty background with experience in online merchandising, ecommerce, design and publishing. She has a bachelors degree in Accounting &amp; Finance as well as a M.Sc in Strategy &amp; Innovation from the National University of Ireland Maynooth. She enjoys photography, listening to podcasts and cooking. She deals with the day to day operation of Style Station.</p>
      </div>
      <div class="teammatewrapper clearfix">
        <div class="teammatepic"></div>
        <div class="text_socialmediaintern">
          <p>Social Media Intern</p>
          <p>email: cynthia@stylestation.co<br></p>
        </div>
        <p class="text_aboutsocialmediaintern">Cynthia is a budding fashionista, specializing in PR and social media.&nbsp;She is studying a honour bachelors degree in Law &amp; Business. She enjoys watching her favourite Youtubers, socializing and sketching. She deals with PR and social media related activites.</p>
      </div>
    </div>
    <br style="clear:both"/>
    {% endblock %}
        {% block scripts %} 
 <script type="text/javascript" src="/static/home.bundle.js" async></script>
 {% endblock %}
