{% extends "base.html" %}
    {% block title %} Contact Us {% endblock %}
  {% block stylesheets %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400|Open+Sans Condensed:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/contactus.css">
  {% endblock %}

 {% block content %}
  <div class="wrapper clearfix">
    <div class="section1 clearfix">
      <div class="contactuswrapper clearfix">
      <h3 style="text-align:center">CONTACT US</h3>
        <p class="text_name">Name*</p>
        <input class="input_entername" placeholder="Enter your name" type="text">
        <p class="text_email">Email*</p>
        <input class="input_enteremail" placeholder="Enter your email address" type="text">
        <p class="text_subject">Subject*</p>
        <input class="input_entersubject" placeholder="Enter subject" type="text">
        <p class="text_message">Message*</p>
        <textarea class="textarea_message"></textarea>
        <button class="contact_button">Send</button>
      </div>
    </div>
  </div>
  {% endblock %}
   {% block scripts %} 
 <script type="text/javascript" src="/static/home.bundle.js" async></script>
 {% endblock %}
