{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content='{{template "description" }}'>
  <meta name="viewport" content="initial-scale=1.0">
	<title>{{template "title" .}}</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body class="body page-contactus clearfix">
  <div class="wrapper clearfix">
    <div class="header clearfix">
      <div class="logo"></div>
    </div>
{{end}}

{{define "title"}} {{end}}
{{define "description"}} {{end}}