{% extends  "base.html" %}
  {% block stylesheets %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400|Gentium+Basic:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/standardize.css">
  <link rel="stylesheet" href="/static/homepage-grid.css">
  <link rel="stylesheet" href="/static/homepage.css">
{% endblock %}
{% block title %} Welcome to Stylestation.co{% endblock %}
{% block content %}
  <div class="wrapper clearfix">
    <div class="hero clearfix">
      <p class="whatweare">Style Station is a fashion platform for African inspired fashionistas worldwide showcasing user generated styles.</p>
      <p style="height:1em;"></p>
      <button class="_button"><a style="color:inherit"href="/explore"> GET STARTED</a></button>
    </div>
    <div class="valuewrapper clearfix">
      <div class="magnifyingglass"></div>
      <p class="valuetitle">Inspire. Get Inspired. Discover. Get Discovered</p>
      <p class="valueparagraph">Find style inspiration with ease, search with ease by garment type, colour or brands. Also inspire others with your styles through our community curated style uploads.&nbsp;</p>
      <div class="pic1"></div>
      <div class="pic2"></div>
      <div class="pic3"></div>
    </div>
    <div class="value3 clearfix">
      <div class="connectimage"></div>
      <p class="text_title">Connect To Your Target Market</p>
      <p class="text_subtitle">Our global platform promotes established and emerging designers alike that are looking to connect to their target market. We are offering a platform for brands to spread their horizons and grow their customer base.</p>
    </div>
    
  </div>

  {% endblock %}
    {% block scripts %} 
 <script type="text/javascript" src="/static/home.bundle.js" async></script>
 {% endblock %}