{% extends  "base.html" %}
{% block stylesheets %}
  <!-- <link rel="stylesheet" type="text/css" href="/static/main.css"> -->
{% endblock %}
{% block title %} Welcome to Stylestation.co{% endblock %}
{% block scripts %} 
<!-- <script type="text/javascript" src="/static/mithril.min.js"></script> -->

<script type="text/javascript" src="/static/app.bundle.js" async></script>
{% endblock %}

