{% extends  "base.html" %}
{% block title %} Login to StyleStation {% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/login.css">
  <!-- <link rel="stylesheet" type="text/css" href="/static/main.css"> -->
{% endblock %}
{% block content %}
<div class="sslogin__wrapper">
<p class="sslogin__intro_text">Not logged in? Ok then, let's get you sorted.<br/> It takes less than 30 seconds to get started, and we promise not to touch your timeline, pinky swear</p>
<a href="/login?provider=facebook" class="srlogin__button srlogin__button__facebook">
	<span class="srlogin__provider__icon srlogin__provider__facebook">&#xE60F</span>
	<span class="srlogin__provider__text">Continue with your Facebook Account</span>
</a>
<a href="/login?provider=gplus" class="srlogin__button srlogin__button__google">
	<span class="srlogin__provider__icon srlogin__provider__google">&#xE610</span>
	<span class="srlogin__provider__text">Continue with your Google Account</span>
</a>
<a href="/login?provider=twitter" class="srlogin__button srlogin__button__twitter">
	<span class="srlogin__provider__icon srlogin__provider__twitter">&#xE60E</span>
	<span class="srlogin__provider__text">Continue with your Twitter Account</span>
</a>
</div>
<script>
var pageTitle = document.title
 var vis = (function(){
    var stateKey, eventKey, keys = {
        hidden: "visibilitychange",
        webkitHidden: "webkitvisibilitychange",
        mozHidden: "mozvisibilitychange",
        msHidden: "msvisibilitychange"
    };
    for (stateKey in keys) {
        if (stateKey in document) {
            eventKey = keys[stateKey];
            break;
        }
    }
    return function(c) {
        if (c) document.addEventListener(eventKey, c);
        return !document[stateKey];
    }
})();

vis(function(){
  document.title = vis() ?  pageTitle : 'Come back, we miss you already!!';
});
     // registers a handler for visibility changes
// Inspired by http://stackoverflow.com/a/19519701
</script>

{% endblock %}