{% extends  "base.html" %}
{% block stylesheets %}
  <!-- <link rel="stylesheet" type="text/css" href="/static/main.css"> -->
{% endblock %}
{% block title %} Profile |  Stylestation.co{% endblock %}
{% block scripts %} 

<script>
	var bootstrap = {{ bootstrap | safe }}
</script>
<script type="text/javascript" src="/static/profile.js"></script>
{% endblock %}
