<html>
<head>
	<meta charset="UTF-8">
	<meta property="og:title" content="StyleStation" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.hostname}}/ankara/{{.entry.Ref}}" />
<meta property="og:image" content="{{.hostname}}/static/images/ankara/{{.entry.Image}}_m.jpg" />
<meta property="og:description" content="{{.entry.Description}}" />
	<title>Single Entry - {{.entry.Ref}}</title>

</head>
<body>
	<img src="{{.hostname}}/static/images/ankara/{{.entry.Image}}_m.jpg" />
</body>
</html>