{% extends "base.html" %}
  {% block title %} Stylestation Terms of Service {% endblock %}
    {% block stylesheets %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400|Gentium+Basic:400" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/termsofservicefinal.css">
  {% endblock %}
    {% block content %}
    <div style="min-height:450px;" class="aboutwrapper clearfix">
      <h4 class="text_aboutusheader">Terms of Service</h4>
      <div class="text_aboutparagraph">
        <p>Style Station reserves the right to take down images that disrupts our platform user experience. Images such as those that are logo heavy, contains nudity, copyrighted images with the uploader not having permission for usage and images that have been reported.</p>
        <p>You own all of the content that you upload onto Style Station. But by uploading your image onto Style Station we reserve the right to share the content on our blog, email campaigns, homepage, general marketing campaigns and social media websites referencing credit where due.</p>
      </div>
    </div>
    {% endblock %}
    {% block scripts %} 
 <script type="text/javascript" src="/static/home.bundle.js" async></script>
 {% endblock %}